<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js" integrity="sha512-wBcFatf7yQavHQWtf4ZEjvtVz4XkYISO96hzvejfh18tn3OrJ3sPBppH0B6q/1SHB4OKHaNNUKqOmsiTGlOM/g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/javascripts/myTimer.js"></script>
    <script src="/javascripts/myChart.js"></script>
    <script src="/javascripts/disabled.js"></script>
    <script src="/javascripts/download.js"></script>

    <title><%= title %></title>
  </head>
  <body>
    <!-- Side Bar -->
    <div id='side-bar' class="d-flex flex-column p-3 text-white bg-dark">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"/>
        </svg>
        <span class="fs-4">PingRouter</span>
      </a>
      <hr>
      <div class="row">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      <div class='input-row col-md-12'>
        <input type='text' id="Address" class='form-control' placeholder="Enter IP Address(1.2.3.4)">
      </div>
      <div class='row input-row'>
        <div class='col-md-6'>
          <button type="button" class='col-auto btn btn-primary' id='start'>S T A R T</button>
        </div>
        <div class='col-md-6'>
          <button type="button" class='btn btn-danger' id='stop' disabled='true'>S T O P</button>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <button type="sumbit" class='btn btn-success' id='save' disabled='true'>
            S A V E
          </button>
        </div>
        <div class='col-md-6'>
          <button type="button" class='btn btn-danger' id='reset' disabled='true'>R E S E T</button>
        </div>
      </div>
      <hr>
      <div class='row'>
        <div class='col-md-12'>
          Timer<br>
            <div class="input-row input-group">
              <input type="text" id='Hours' aria-label="Hours" class="form-control" placeholder="Hours">
              <input type="text" id='Minutes' aria-label="Minutes" class="form-control" placeholder="Minutes">
              <input type="text" id='Seconds' aria-label="Seconds" class="form-control" placeholder="Seconds">
            </div>
            <div class="row">
              <div class='col-md-6'>
                <button class="btn btn-primary" id='timeSet'>S E T</button>
              </div>
              <div class='col-md-6'>
                <button class="btn btn-danger" id='timeReset' disabled='true'>R E S E T</button>
              </div>
            </div>
          <br>Remain<br>
          <h1>
            <span id="hour">0</span>
            <span> : </span>
            <span id="minute">0</span>
            <span> : </span>
            <span id="second">0</span>
          </h1>
        </div>
      </div>
      <hr>
      <div class='row'>
        <div class='col-md-12'>
          <button class="btn btn-primary" id='history'>Show History</button>
        </div>
      </div>
    </div> <!-- End Sidebar  -->

    <!-- Main Contents -->
    <div class='container-md'>
      <div class="row text-log"> 
        <div class='col-md-6' id="pingLog">
          <li class="list-group-item list-group-item-dark"><span>Ping</span></li>
          <div class='ping_textLog'>
            <ul id="ping_textLog_list" class='list-group'>
              <!-- ping log -->
            </ul>
          </div> <!-- END ping_textLog -->
        </div> <!-- END pingLog -->

        <div class='col-md-6' id="trLog">
          <li class="list-group-item list-group-item-dark"><span>TraceRouter</span></li>
          <div class='tr_log'>
            <ul id="trLog_list" class='list-group'>
              <!-- traceroute log -->
            </ul>
          </div>
        </div> <!-- END trLog  -->
      </div> <!-- END row  -->

      <div class='row'>
        <div class="col-md-12">
          <li class="list-group-item list-group-item-dark"><span>Ping Graph</span></li>
          <div class='ping_graphLog'>
            <canvas id="myChart"></canvas>
          </div> <!-- END ping_graphLog -->
        </div>
      </div>
    </div>

  </body>

  <script>
    const doc = document;

    let ctx = doc.getElementById('myChart');
    let myChart =new Chart(ctx, options);

    const myapp = io();
    let trOn, pingOn;
    let totalTime;  // Timer 설정 유무 파악
    let startTime;  // 테스트 시작 시간

    $('#start').click(() => {
      let target = $('#Address').val();
      if(target == ''){
        alert('input ip.v4 address')
        return;
      }
      trOn = true;
      pingOn = true;

      startDisabled();

      if(!totalTime){
        $('#stop').attr('disabled', false);
      } else {
        myTimer = setInterval(() => {

        hour = parseInt(time/3600),
        minute = parseInt(time/60),
        second = time%60;

        doc.getElementById('hour').innerHTML = hour;
        doc.getElementById('minute').innerHTML = minute;
        doc.getElementById('second').innerHTML = second;

        time--;

        if(time < 0){
          clearInterval(myTimer);
          myapp.emit('stop');
        } 
      }, 1000);
      }
      myapp.emit('start', target);
    });

    myapp.on('STARTTIME', (time) => {
      tmpTime = time
      startTime = tmpTime.replace(/T/g, ' ');
      startTime = startTime.replace(/\+09:00/g, '');
    })

    myapp.on('pingProcess', (address, obj) => {
      let target = address,
          icmp_seq = obj.icmp_seq,
          speed = obj.time;

      $('#ping_textLog_list').append(`<li class='list-group-item pingLog'><span>${address}: icmp_seq=${icmp_seq} time=${speed}ms</span></li>`);
      // 스크롤바 아래 고정
      $('div.ping_textLog').scrollTop($('div.ping_textLog').prop('scrollHeight'));
    });

    $('#stop').click(() => {
      let imageUrl = ctx.toDataURL();
      
      myapp.emit('stop', imageUrl);
      $('#stop').attr('disabled', true);
      if(!trOn){
        stopDisabled();
      }
    });

    myapp.on('result', (obj) => {
      pingOn = false;
      console.log(obj)
      let cnt = obj.cnt,
          max = obj.max,
          avg = obj.avg,
          min = obj.min
      
      $('#ping_textLog_list').append(`<li class='list-group-item list-group-item-success pingResultLog'><span>--- ping statistics ---</span></li>`);
      $('#ping_textLog_list').append(`<li class='list-group-item pingResultLog'><span>${cnt} packets transmitted, ${cnt} packets received</span></li>`);
      $("#ping_textLog_list").append(`<li class='list-group-item pingResultLog'><span>round-trip min/avg/max = ${min}/${avg}/${max} (ms)</span></li>`);
      // 스크롤바 아래 고정
      $('div.ping_textLog').scrollTop($('div.ping_textLog').prop('scrollHeight'));
    });

    myapp.on('pingGraph', (obj, avg) => {
      let icmp_seq = obj.icmp_seq,
          time = obj.time;

      addData(myChart, icmp_seq, time, avg);
    });

    $('#reset').click(() => {
      resetDisabled();
      doc.getElementById('Address').value = '';
      doc.getElementById('Hours').value = '';
      doc.getElementById('Minutes').value = '';
      doc.getElementById('Seconds').value = '';
      $('.pingLog').remove();
      $('.pingResultLog').remove();
      $('.trLog').remove();
      $('.trResultlog').remove();
      myChart.update('reset');
      resetData(myChart);
    });
    // End Ping

    // TraceRouter
    myapp.on('trDestination', (destination)=>{
      $('#trLog_list').append(`<li class='list-group-item trLog'><span>${destination}</span></li>`);
    });
    
    myapp.on('trProcess', (trResult) => {
      let hop = trResult.hop,
          router = trResult.ip,
          time = trResult.rtt1;

      $('#trLog_list').append(`<li class='list-group-item trLog'><span>${hop} ${router} ${time}</span></li>`);
      $('div.tr_log').scrollTop($('div.tr_log').prop('scrollHeight'));
    });

    myapp.on('trClose', (code) => {
      $('#trLog_list').append(`<li class='list-group-item trResultlog'><span>Close : ${code}</span></li>`);
      $('div.tr_log').scrollTop($('div.tr_log').prop('scrollHeight'));
      trOn = false;
      if(!pingOn){
        trDisabled();
      }
    });
    // End TraceRouter

    // Timer
    $('#timeSet').click(() => {
      totalTime = timeSet();
      timeSetDisabled();
    });

    $('#timeReset').click(() => {
      timeReset();
      timeResetDisabled();
    });

    $('#save').on('click', () => {

      let pingLogs = doc.getElementsByClassName('pingLog');
      let pingResultLogs = doc.getElementsByClassName('pingResultLog');
      let trLogs = doc.getElementsByClassName('trLog');
      let pingResult = {
        title : [],
        packet: [],
        rtt : []
      };
      pingResult.title.push(pingResultLogs[0].innerText)
      pingResult.packet.push(pingResultLogs[1].innerText)
      pingResult.rtt.push(pingResultLogs[2].innerText)
      
      let data = downloadReady(pingLogs, pingResult, trLogs);
      download(startTime, data);
    });

    $('#history').click(() => {
      location.href = `/history`
    });
  </script>
</html>