body {
  display: flex;
  flex-wrap: nowrap;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-x: auto;
}
body > * {
  flex-shrink: 0;
  min-height: -webkit-fill-available;
}

a {
  color: #00b7ff;
}

.container-md {
  padding-top: 50px !important;
  height: 100% !important;
}

.myContainer {
  height: 100vh !important;
}

.text-log {
  margin-bottom: 10px;
}

#side-bar {
  width: 280px;
  float: left;
}

.input-row {
  margin-bottom: 10px;
}

.ping_textLog {
  height: 22vh !important;
  overflow-y: auto;
}

.tr_log {
  height: 22vh !important;
  overflow-y: auto;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}
.btn {
  width: 100% !important;
}

.table {
  vertical-align: middle !important;
  text-align: center !important;
}

#myChart {
  width: 100%;
  height: 80vh;
}

.pagination {
  justify-content: center !important;
}

.table-area {
  min-height: 707px;
}

.footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
}
